/* Base Application Styles */
body,html {
  width: 100%;
  height: 100%;
}
ul{
  list-style: none;
}
a:hover,a:link,a:visited,a:active{
  text-decoration: none;
  color: white;
}
.line{
  width: 6px;
  height: 60px;
  background: #fd8534;
  position: absolute;
  right: -3px;
  top: 0;
}
.bottomLine{
  width: 50%;
  height: 6px;
  background: #fd8534;
  position: absolute;
  bottom: 0;
  left: 25%;
}

.login_wrap{
  width: 100%;
  height: 100%;
  background: url(../images/bg.png) no-repeat center center;
  box-sizing: border-box;
  padding-top: 152px;
  box-sizing: border-box;
}
body,#app{
  height: 100%;
}
.container-fluid{
  padding: 0;
  width: 100%;
  height: 100%;
    margin-right: auto;
    margin-left: auto;
}
.titleimg{
  margin-right: 10px;
}
.centers{
  display: flex;
justify-content: space-around;
}
.forms{
  width: 360px;
  margin: 0 auto;
}
.h1{
  font-size: 24px;
  color: #696969;
  margin-bottom: 28px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}
.code{
  cursor: pointer;
  box-sizing: border-box;
  padding-right: 27px;
}
.incode{
  padding-left: 25px
}
.code img{
  width: 86px;
  height: 36px;
}
.btnlog{
  margin-top: 40px;
}
.login {
  background: white;
  border-radius: 10px;
  width: 484px;
  height: 353px;
  margin: 0 auto;
  padding-top: 40px;
  box-sizing: border-box;
}
.logbtn {
  width: 333px!important;
  margin-top: 25px;
}
.login .form-group input{
  text-indent: 8px;
}

/*头部*/
.header_wrap{
  height: 78px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0;
}
.zylogos{
  padding-left: 36px
}
.goback{
  cursor: pointer;
  font-size: 14px;

}
.usrs{
  padding-right: 30px;
  font-size: 16px;
}
.backs{
  padding: 0 12px 0 37px;
}
.left_detail{
  padding-right: 40px;
}

/*主要内容*/
.operate{
  display: flex;
  justify-content: space-around;
}
/*.operate a:link{
  color: #333;
}*/
.operate a:hover, .operate a:link, .operate a:visited, .operate a:active{
  color: #333
}
.wrapcontainer{
  display: flex;
  flex-direction: row;
  min-height: 800px;
}
.main_wrap{
  background: white;
  min-height: 600px;
  margin-top: 50px;
  border: 1px solid #d3d3d3;
  padding: 0;
  padding-bottom:150px;
}
.sidebar{
  flex: 0 0 220px;
  background: #1f214a;
  padding-top: 54px;
  min-height: 800px;
  margin-bottom: 0;
}
.maincontainer{
  flex: 1;
  background: #efefef;

}

/*侧边栏*/
.sidebar{
  padding-left: 0;
}

.sidebar .static{
  padding-left: 42px;
  position: relative;
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  color: #6260bf;
}
.sidebar .static img{
  vertical-align: text-bottom;
  margin-right: 6px;
}
.sidebar .selection{
  color: white;
  padding-left: 52px;
  position: relative;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
}
.selection a{
  padding: 20px;
  padding-right: 56px;
}
.active{
  color: white;
  background: #080b2f;
}
.center{
  text-align: center;
}
.selection:hover{
  color: white;
  background: #080b2f;
}

.prolist_nav{
  height: 60px;
  text-align: center;
  line-height: 60px;
  padding: 0;
  border-bottom: 1px solid #d3d3d3;
}
.prolist_nav a{
  color: #4a4a4a;
  font-size: 18px;
}
.form-group .formlabel{
  margin-bottom: 20px;
  text-align: left;
  padding: 0;
}
.textbg{
  background: #f2dede;
  resize: none;
}

.nav_head{
  clear: both;
height: 60px;
padding-top: 14px;
box-sizing: border-box;
border-bottom: 1px solid #e3e3e3;
}
.prolist{
  margin-top: 20px
}
.prolist li{
  height: 40px;
}
