/* Base Application Styles */
body,html {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
ul{
  list-style: none;
}
.checkboxes{
  margin-bottom: 20px
}
.checkboxes_wrap .ant-checkbox-wrapper{
  margin-bottom: 10px;
  font-size: 16px
}

.ant-table-placeholder {
  opacity: 0
}

.login_wrap{
  width: 100%;
  height: 100%;
  background: url(../images/bg.png) no-repeat center center;
  box-sizing: border-box;
  padding-top: 152px;
  box-sizing: border-box;
}
body,#app{
  height: 100%;
}
/*登录框*/
.login-form {
  max-width: 300px;
  margin: 0 auto;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.container-fluid{
  padding: 0;
  width: 100%;
  height: 100%;
    margin-right: auto;
    margin-left: auto;
}
.titleimg{
  margin-right: 10px;
}
.centers{
  display: flex;
  justify-content: space-around;
}
/*.forms{
  width: 360px;
  margin: 0 auto;
}*/
.h1{
  font-size: 24px;
  color: #696969;
  margin-bottom: 28px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

/*头部*/
.header_wrap{
  height: 78px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0;
}
.zylogos{
  padding-left: 36px
}
.goback{
  cursor: pointer;
  font-size: 14px;
}
.usrs{
  padding-right: 30px;
  font-size: 16px;
}
.backs{
  padding: 0 12px 0 37px;
}
.left_detail{
  padding-right: 40px;
}

/*主要内容*/
.operate{
  display: flex;
  justify-content: space-around;
}

.wrapcontainer{
  display: flex;
  flex-direction: row;
  min-height: 800px;
}
.main_wrap{
  background: white;
  min-height: 600px;
  border: 1px solid #d3d3d3;
  padding: 0;
  padding-bottom:150px;
}
.maincontainer{
  flex: 1;
  background: #efefef;
}
.listtitle{
  font-size: 24px;
  padding: 26px 0 10px;
}

.prolist_nav{
  height: 60px;
  text-align: center;
  line-height: 60px;
  padding: 0;
}
.prolist_nav a{
  color: #4a4a4a;
  font-size: 18px;
  position: relative;
}
.form-group .formlabel{
  margin-bottom: 20px;
  text-align: left;
  padding: 0;
}
.bottomLine{
  width: 120%;
  height: 3px;
  background: #fd8534;
  position: absolute;
  bottom: -8px;
  left: -10%;
}

.textbg{
  background: #f2dede;
  resize: none;
}

.nav_head{
  clear: both;
height: 60px;
padding-top: 14px;
box-sizing: border-box;
border-bottom: 1px solid #e3e3e3;
}

/*可编辑表格*/
.border_line{
  border-bottom: 1px solid #e3e3e3;
  height: 60px;
}
.editable-cell {
  position: relative;
}

.editable-cell-input-wrapper,
.editable-cell-text-wrapper {
  padding-right: 24px;
}

.editable-cell-text-wrapper {
  padding: 5px 24px 5px 5px;
}

.editable-cell-icon,
.editable-cell-icon-check {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
}

.editable-cell-icon {
  line-height: 18px;
  display: none;
}

.editable-cell-icon-check {
  line-height: 28px;
}

.editable-cell:hover .editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}

.editable-add-btn {
  margin-bottom: 8px;
}
/*竖直表格*/
table.cloumstable {
  margin-top: 20px;
 border: 1px solid #e3e3e3;
 border-spacing: 0;
}

table.cloumstable tr {border-bottom: 1px solid #e3e3e3}

table.cloumstable td{
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding: 5px;
}

table.cloumstable tr td:last-child{ border-right: 0 }
table.cloumstable tr:last-child td{ border-bottom: 0 }
